
<body>

    <div id="container">



        <section id="viewAddhotel">
            <h2>Edit existing hotel</h2>
            <form id="formAddhotel" action="/details/{{_id}}/edit" method="post">
                <label for="hotel">Hotel name:</label>
                <input type="text" id="hotel" name="name" value={{name}}>
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value={{city}}>
                <label for="freeRooms">Free rooms:</label>
                <input type="number" id="free-rooms" name="freeRooms" value={{freeRooms}}>
                <label for="imageUrl">Image:</label>
                <input type="text" id="imgUrl" name="imgUrl" value={{imageUrl}}>

                <input type="submit" class="create" value="Add">
            </form>
        </section>

        <footer>@SoftUni - JS Back-end - BookingUni 2020</footer>
    </div>

</body>
